<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lokad.Cqrs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Lokad.Cqrs.Properties.Settings.SqlConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=testdb;Integrated Security=True;Pooling=false" />
    </connectionStrings>
    <applicationSettings>
        <Lokad.Cqrs.Properties.Settings>
            <setting name="SqlTapeWriterTableName" serializeAs="String">
                <value>Cqrs_Tape_Storage</value>
            </setting>
            <setting name="StorageConnectionString" serializeAs="String">
                <value>UseDevelopmentStorage=true</value>
            </setting>
        </Lokad.Cqrs.Properties.Settings>
    </applicationSettings>
</configuration>